@import url(../../App.css);

li {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18px;
  gap: 20px;
  background-color: var(--clr-input-drk);
  border-bottom: 1px solid var(--clr-complete-text-drk);
}

li:nth-child(1) {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 2px;
  cursor: pointer;
}

li input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  min-width: 25px;
  min-height: 25px;
  background-color: var(--clr-input-drk);
  border: 2px solid var(--clr-complete-text-drk);
  border-radius: 50%;
}

li input[type="checkbox"]::before {
  position: absolute;
  top: -4px;
  left: 8px;
  width: 25px;
  height: 25px;
  font-size: 21.5px;
  content: "";
  opacity: 0;
}

li input[type="checkbox"]:checked {
  opacity: 1;
  background-image: var(--grd-check-bgr);
  border: none;
}

li input[type="checkbox"]:checked::before {
  opacity: 1;
  content: url(../../assets/images/icon-check.svg);
}

ol {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

label {
  width: 80%;
  word-wrap: break-word;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: var(--clr-input-text-drk);
  cursor: pointer;
}

.delete-task {
  visibility: hidden;
  width: 25px;
  height: 25px;
  border: none;
  background: url(../../assets/images/icon-cross.svg) no-repeat center;
}

li:hover .delete-task {
  visibility: inherit;
}

.done {
  text-decoration: line-through;
  color: var(--clr-complete-text-drk);
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  label {
    width: 75%;
    font-size: 16px;
  }
}