li {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18px;
  gap: 20px;
  background-color: var(--clr-input-drk);
  border-bottom: 1px solid var(--clr-copmlete-text-drk);
}

li:nth-child(1) {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* .task-field {
    width: 100%;
  } */

input[type="checkbox"] {
  margin-right: 2px;
}

li input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  min-width: 25px;
  min-height: 25px;
  background-color: var(--clr-input-drk);
  border: 2px solid var(--clr-copmlete-text-drk);
  border-radius: 50%;
  transition: border-color 0.3s;
}

li input[type="checkbox"]::before {
  position: absolute;
  top: -4px;
  left: 8px;
  width: 25px;
  height: 25px;
  font-size: 21.5px;
  content: "";
  opacity: 0;
  transition: opacity 0.3s;
}

li input[type="checkbox"]:checked {
  opacity: 1;
  background-image: var(--grd-check-bgr);
  border: none;
}

li input[type="checkbox"]:checked::before {
  opacity: 1;
  content: url(../../assets/images/icon-check.svg);
}

/* li input[type="radio"]:hover {
  border-radius: 50px;
  border: 2px solid transparent;
  background: var(--grd-check-bgr) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
} */

ol {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

label {
  width: 90%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: var(--clr-input-text-drk);
}

.delete-task {
  visibility: hidden;
  width: 25px;
  height: 25px;
  border: none;
  background: url(../../assets/images/icon-cross.svg) no-repeat center;
}

li:hover .delete-task {
  visibility: inherit;
}
