@import url(../../App.css);

#pattern1 {
    display: flex;
    width: 100%;
    background-color: var(--clr-input-drk);
    
}

.task-field {
    width: 100%; 
}

#pattern1 input[type="radio"]::before {
    position: absolute;
    top: -5px;
    left: 6px;
    width: 25px;
    height: 25px;
    font-size: 21.5px;
    content: "";
    opacity: 0;
    transition: opacity 0.3s;
  }

#pattern1 input[type="radio"]::before {
    /* content: url(../../images/icon-check.svg); */
}

#pattern1 input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: var(--clr-input-drk);
    border: 1px solid gray;
    border-radius: 50%;
    transition: border-color 0.3s;
}

#pattern1 input[type="radio"]:checked {
    opacity: 1;
    background-image: var(--grd-check-bgr);
}

#pattern1 input[type="radio"]:checked::before {
    opacity: 1;
    content: url(../../images/icon-check.svg);
}