@import url(./reset/reset.css);

:root {
  --clr-input-drk: hsl(235, 21%, 11%);
  --grd-check-bgr: linear-gradient(135deg,
  hsl(192deg 100% 67%) 0%,
  hsl(202deg 99% 67%) 11%,
  hsl(212deg 96% 66%) 22%,
  hsl(221deg 95% 66%) 33%,
  hsl(231deg 94% 66%) 44%,
  hsl(241deg 93% 66%) 56%,
  hsl(251deg 91% 66%) 67%,
  hsl(261deg 90% 65%) 78%,
  hsl(270deg 88% 65%) 89%,
  hsl(280deg 87% 65%) 100%);
}


.App {
  position: relative;
  max-width: 1440px;
  height: 100dvh;
  background-color: hsl(235, 19%, 35%);
  font-family: "Josefin Sans", sans-serif;
}

.container {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 38%;
}

header {
  position: absolute;
  width: 100%;
  min-height: 300px;
  background: url(./images/bg-desktop-dark.jpg) no-repeat center;
  background-size: cover;
}

.toggle-theme {
  width: 30px;
  height: 30px;
  border: none;
  background: url(./images/icon-sun.svg) center center no-repeat;
}

.header-app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 700;
  color: hsl(0, 0%, 98%);
  letter-spacing: 18px;
}
