@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url(./assets/reset/reset.css);

:root {
  --clr-title-text: hsl(0, 0%, 98%);
  --clr-input-text-drk: hsl(234, 39%, 85%);
  --clr-btn-hover: hsl(0, 0%, 98%);
  --clr-input-drk: hsl(235, 24%, 19%);
  --clr-body-drk: hsl(235, 21%, 11%);
  --clr-complete-text-drk: hsl(237, 14%, 26%);
  --clr-placeholder-text-drk: hsl(233, 14%, 35%);
  --clr-active-filter: hsl(220, 98%, 61%);
  --grd-check-bgr: linear-gradient(
    135deg,
    hsl(192deg 100% 67%) 0%,
    hsl(202deg 99% 67%) 11%,
    hsl(212deg 96% 66%) 22%,
    hsl(221deg 95% 66%) 33%,
    hsl(231deg 94% 66%) 44%,
    hsl(241deg 93% 66%) 56%,
    hsl(251deg 91% 66%) 67%,
    hsl(261deg 90% 65%) 78%,
    hsl(270deg 88% 65%) 89%,
    hsl(280deg 87% 65%) 100%
  );
  --clr-btn-filter: hsl(233, 14%, 35%);
  --ff-main: "Josefin Sans", sans-serif;
  --bgr-btn-theme: url(./assets/images/icon-sun.svg) center center no-repeat;
  --bgr-header-theme: url(./assets/images/bg-desktop-dark.jpg) no-repeat center;
  --bgr-header-theme-mobile: url(./assets/images/bg-mobile-dark.jpg) no-repeat center;
}

.App.white-theme {
  --clr-input-drk: hsl(0, 0%, 98%);
  --clr-input-text-drk: hsl(235, 19%, 35%);
  --clr-body-drk: hsl(234, 39%, 85%);
  --clr-complete-text-drk: hsl(233, 11%, 84%);
  --clr-placeholder-text-drk: hsl(233, 11%, 84%);
  --clr-btn-hover: hsl(235, 19%, 35%);
  --clr-btn-filter: hsl(234, 11%, 52%);
  --bgr-btn-theme: url(./assets/images/icon-moon.svg) center center no-repeat;
  --bgr-header-theme: url(./assets/images/bg-desktop-light.jpg) no-repeat center;
  --bgr-header-theme-mobile: url(./assets/images/bg-mobile-light.jpg) no-repeat center;
}

.App {
  position: relative;
  max-width: 1440px;
  height: 100dvh;
  background-color: var(--clr-body-drk);
  font-family: var(--ff-main);
}

.container {
  height: 50dvh;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 38%;
  font-family: var(--ff-main)
}

header {
  position: absolute;
  width: 100%;
  min-height: 300px;
  background: var(--bgr-header-theme);
  background-size: cover;
}

.toggle-theme {
  width: 30px;
  height: 30px;
  border: none;
  background: var(--bgr-btn-theme);
}

.header-app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.title-app {
  font-size: 40px;
  font-weight: 700;
  color: var(--clr-title-text);
  letter-spacing: 18px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  background-color: var(--clr-input-drk);
  border-radius: 0 0 5px 5px;
  font-size: 13px;
  font-weight: 700;
}

button,
.task-left-count {
  background: none;
  border: none;
  color: var(--clr-btn-filter);
}

button:hover {
  color: var(--clr-btn-hover);
}

.filter-buttons {
  display: flex;
  gap: 8px;
}

.active {
  color: var(--clr-active-filter);
}

@media screen and (min-width: 320px) and (max-width: 400px) {

  .container {
    min-width: 85%;
  }

  header {
    min-height: 260px;
    background: var(--bgr-header-theme-mobile);
    background-size: cover;
  }

  .filter-container {
    flex-wrap: wrap;

  }

  .filter-buttons {
    width: 100%;
    order: 3;
    justify-content: center;
    margin-top: 15px;
  }

}