@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url(./assets/fonts/static/JosefinSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url(./assets/fonts/static/JosefinSans-Bold.ttf);
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
